<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>PianoWeb</title>
  <link rel='stylesheet' href="/assets/app.css">
  <script src="/assets/app.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div id="jqt">
  <div id="main">

    <div class="toolbar">
      <h1>Pianoweb</h1>
    </div>

    <div style="margin-top: 10px;" class="player-actions">
      <a href="#" class='grayButton play' rel='play'>Play / Pause</a><br/>
      <a href="#" class='grayButton next' rel='next'>Next</a>
    </div>
  </div>

</div>
</body>
</html>